/* ---------------   GLOBAL VARIABLES   --------------- */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-greyish-magenta: hsl(303, 10%, 53%);
    --light-greyish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-position: -20% 0%, 100% -80%;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

main {
    min-height: 100vh;
}

.whole-container {
    padding: 5rem 10rem 0 10rem;
}

/* ---------------   UPPER CONTAINER STYLING: HERO + RATINGS   --------------- */
.upper-container {
    display: flex;
}

/* This gives each article element with a direct parent of .upper-container a flex: 1
    flex: 1 -->  {flex-grow: 1, flex-shrink: 1, flex-basis: 0} since flex-basis: 0, then each element will
    grow at the same rate (of 1 indicated by flex-grow) and size... flex-shrink doesn't really have an effect*/
.upper-container > article {
    flex: 1;
}

    /* ---------------   HERO CONTAINER   --------------- */
.hero-container h1 {
    color: var(--dark-magenta);
    font-size: 3rem;
    font-weight: 700;
    font-weight: bold;
    margin: 0;
    line-height: 3rem;
}

.hero-container p {
    color: var(--dark-greyish-magenta);
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 0;
}

    /* ---------------   RATINGS CONTAINER   --------------- */
.rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.rating {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 80%;
    height: 3rem;
    padding-left: 1.5rem;
    color: var(--dark-magenta);
    font-size: .8rem;
    font-weight: 700;
    border-radius: 12px;
    background-color: var(--light-greyish-magenta);
}

.stars img {
    padding-right: 0.2rem;
    width: 1rem;
    height: 0.8rem;
}

.rating-by-reportguru {
    align-self: center;
}

.rating-by-besttech {
    align-self: flex-end;
}

/* ---------------   LOWER CONTAINER STYLING   --------------- */
.lower-container {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    height: 200px;
}

    /* ---------------   REVIEW CONTAINER   --------------- */
.review-container {
    padding: 1.5rem;
    border-radius: 12px;
    background-color: var(--dark-magenta);
    height: fit-content;
}

.review-container:nth-child(2) {
    align-self: center;
}

.review-container:nth-child(3) {
    align-self: flex-end;
}

.review-container h2 {
    margin: 0;
    font-size: .8rem;
    color: var(--white);
}

.review-container h3 {
    margin: 0;
    font-size: .7rem;
    font-weight: 500;
    color: var(--soft-pink);
}

.review-container p {
    font-size: 0.7rem;
    color: var(--white);
    margin-top: 1.5rem;
}

.review-container img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
    /* ---------------   BUYER PROFILE   --------------- */

.buyer-profile {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

.buyer-info {
    display: inline-block;
}

/* ---------------   FOOTER   --------------- */
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }